
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuración</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <!-- Navbar Partial -->
    <%- include('partials/navbar', { id }) %>

  <div class="container">
    <h2>➕ Agregar cámara</h2>
    <form action="/user/<%= id %>/cams/add" method="POST">

      <input type="hidden" id="id" name="id" value="<%= cam.id %>">

      <div>
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" value="<%= cam.name %>" placeholder="Cámara garage" required />
      </div>

      <div>
        <label for="ip">Dirección IP/URN</label>
        <input type="text" id="ip" name="ip" value="<%= cam.ip %>" placeholder="192.168.1.100/stream" required />
      </div>

      <div>
        <label for="user">Usuario</label>
        <input type="text" id="user" name="user" value="<%= cam.user %>" placeholder="admin" required />
      </div>

      <div>
        <label for="password">Clave</label>
        <input type="password" id="password" name="password" value="<%= cam.password %>" placeholder="admin" required />
      </div>

      <button type="submit">Guardar</button>
    </form>

    <a href="/user/<%= id %>/cams" class="back-link">← Volver</a>
  </div>
</body>
</html>